/.idea/.name
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sonarlint/issuestore/6/6/66c21a9cb841bf0ef14bc8bae1b33f29c27a7fb6
/.idea/sonarlint/issuestore/a/4/a4424430df4be4b7a987dff72aab5b96146b0e88
/.idea/sonarlint/issuestore/index.pb
/.idea/workspace.xml
/reverse-polish-notation-zip.iml
